@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

body {
    padding-top: 5rem;
}

.flashes{
  list-style-type: none;
  font-size: 24px;
  color: gray;
  font-family: Gajraj One;
}
